.btn-menu{
  width: 13rem;
  height: auto;
  background-color: #FFA831;
  border-radius: 15px;
  margin: auto;
  padding: 1rem 0 1rem 0;
  color: black;
  border: 10rem;
  font-family: 'Poppins';
}
.menu {
    font: bold;
    font-family: 'Poppins';
    margin-top: 3px;
    min-width: 2px;
    min-height: 20px;
    padding: 3rem;
    display: block;

}

.pedidos{
  background-color: whitesmoke;
  height: auto;
  border-radius: 15px;
  margin: auto;
  
}
.name{
  background-color:  #FFA831;
  border-radius: 10rem;
}
.mesas{
  background-color:  #FFA831;
  border-radius: 10rem;
}
.send{
  width: 15rem;
  height: auto;
  background-color:  #FFA831;
  border-radius: 10rem;
  margin: auto;
  
  color: black;
  border: 10rem;
  font-family: 'Poppins';
}

.active-content {
  display: block;
}

.content {
  display: none;
} 

.producto {
  background-color: aliceblue;
  border:#FFA831;
  height: 2rem;
  width: 20rem;
  margin: 5;
  padding: 0.5rem;
}
.form-control {
  border-radius: 10rem;
}